script(src='/javascripts/marked.js', type='text/javascript')
script(src='/javascripts/dateFormat.js', type='text/javascript')
script(src='/javascripts/ace/ace.js', type='text/javascript')
script(src='/javascripts/ace/theme-twilight.js', type='text/javascript')
script(src='/javascripts/jquery-ui.min.js', type='text/javascript', charset='utf-8')
script(src='/javascripts/tag-it.min.js', type='text/javascript', charset='utf-8')
link(rel='stylesheet', type='text/css', href='/stylesheets/jquery-ui.css')
link(href='/stylesheets/jquery.tagit.css', rel='stylesheet', type='text/css')

#sub-menu
  ul.collection
    li.collection-item
      div.item
        | Preview
        a.secondary-content.text-grey(href='javascript:showPreview();')
          i.material-icons input
    li.collection-item
      div.item
        | Publish
        a.secondary-content(href='javascript:newItem();')
          i.material-icons send
    li.collection-item
      div.item
        | Save
        a.secondary-content(href='#!')
          i.material-icons grade
    li.collection-item
      div
        .row
          .input-field.col.s12
            label(for='title') Title
            input#title.validate(type='text')
    li.collection-item
      div
        .row
          .col.s12
            label(for='title') Date
            input#date.validate(type='text')
    li.collection-item
      div
        | Categories
        a.secondary-content
          i.material-icons playlist_add
    li#category-list.collection-item
      ul#Categories
    li.collection-item
      div
        | Tags
        a.secondary-content
          i.material-icons playlist_add
    li#tag-list.collection-item
      ul#Tags


#editor-wapper
  #editor
  script(type='text/javascript').
    initEditor();
    $('#date').val(new Date().format("yyyy-mm-dd HH:mm:ss"));
    $("#Categories").tagit();
    $("#Tags").tagit();

  #preview
  
  //- script(type="text/x-mathjax-config").
  //- MathJax.Hub.Config({
  //-   tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
  //- });
