extends layout

block content
  header.mdl-shadow--6dp
    button.mdl-button.mdl-js-button.mdl-button--icon.menu-btn(id='menu-btn', title='back', onclick='back()')
      i.material-icons arrow_back
    .left-title
      a.mdl-button.mdl-js-button.mdl-js-ripple-effect New
    ul
      -
        var items = [
          {title:'publish', onclick:'publish()', icon: 'publish'},
          {title:'redo', onclick:'redo()', icon: 'redo'},
          {title:'undo', onclick:'undo()', icon: 'undo'},
          {title:'insert photo', onclick:'uploadImage()', icon: 'insert_photo'},
          {title:'insert link', onclick:'insertLink()', icon: 'insert_link'},
          {title:'insert code', onclick:'formatCode()', icon: 'code'},
          {title:'format quote', onclick:'formatQuote()', icon: 'format_quote'},
          {title:'format list bulleted', onclick:'formatListBulleted()', icon: 'format_list_bulleted'},
          {title:'format list numbered', onclick:'formatListNumbered()', icon: 'format_list_numbered'},
          {title:'format italic', onclick:'formatItalic()', icon: 'format_italic'},
          {title:'format bold', onclick:'formatBlod()', icon: 'format_bold'},
          {title:'preview', onclick:'preview()', icon: 'visibility'}
        ]
      each item in items
        li.right-title
          a.mdl-button.mdl-js-button.mdl-button--icon(title=item.title, onclick=item.onclick)
            i.material-icons=item.icon
      li.right-title
        input(id='title', value='Untitled')
      li.right-title
        #done
          i.material-icons done
        #loading
          .mdl-spinner.mdl-js-spinner.is-active

  #editor-wapper
    #editor.mdl-shadow--2dp
    #preview.mdl-shadow--2dp
    
  #image-upload-dialog.mdl-shadow--2dp
    a.close(onclick='closeDialog("#image-upload-dialog")')
      i.material-icons(id='clear') clear
    form(id='image')
    .file_input_div
      .file_input
        label.image_input_button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-js-ripple-effect
          i.material-icons file_upload  
          input#file_input.none(type='file')
      #file_input_text_div.mdl-textfield.mdl-js-textfield.textfield-demo
        input#file_input_text.file_input_text.mdl-textfield__input(type='text', disabled='', readonly='')
        label.mdl-textfield__label(for='file_input_text')
      button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(id='upload-image-btn', onclick='insertImage()')
        | Insert Image
    
  script(type="text/javascript").
    initEditor();
