extends layout

block content
  header.mdl-shadow--6dp
    button.mdl-button.mdl-js-button.mdl-button--icon.menu-btn(id='menu-btn')
      i.material-icons arrow_back
    .left-title
      a.mdl-button.mdl-js-button.mdl-js-ripple-effect New
    ul
      li.right-title
        a.mdl-button.mdl-js-button.mdl-button--icon(title='publish')
          i.material-icons publish
      li.right-title
        a.mdl-button.mdl-js-button.mdl-button--icon(title='redo', onclick='redo()')
          i.material-icons redo
      li.right-title
        a.mdl-button.mdl-js-button.mdl-button--icon(title='undo', onclick='undo()')
          i.material-icons undo
      li.right-title
        a.mdl-button.mdl-js-button.mdl-button--icon(title='insert photo')
          i.material-icons insert_photo
      li.right-title
        a.mdl-button.mdl-js-button.mdl-button--icon(title='insert link')
          i.material-icons insert_link
      li.right-title
        a.mdl-button.mdl-js-button.mdl-button--icon(title='insert code', onclick='formatCode()')
          i.material-icons code
      li.right-title
        a.mdl-button.mdl-js-button.mdl-button--icon(title='format quote', onclick='formatQuote()')
          i.material-icons format_quote
      li.right-title
        a.mdl-button.mdl-js-button.mdl-button--icon(title='format list bulleted', onclick='formatListBulleted()')
          i.material-icons format_list_bulleted
      li.right-title
        a.mdl-button.mdl-js-button.mdl-button--icon(title='format list numbered', onclick='formatListNumbered()')
          i.material-icons format_list_numbered
      li.right-title
        a.mdl-button.mdl-js-button.mdl-button--icon(title='format italic', onclick='formatItalic()')
          i.material-icons format_italic
      li.right-title
        a.mdl-button.mdl-js-button.mdl-button--icon(title='format bold', onclick='formatBlod()')
          i.material-icons format_bold
      li.right-title
        a.mdl-button.mdl-js-button.mdl-button--icon(onclick='preview();', title='preview')
          i.material-icons(id='visibility') visibility
      li.right-title
        input(id='title', value='Untitled')
      li.right-title
        #done
          i.material-icons done
        #loading
          .mdl-spinner.mdl-js-spinner.is-active
  #progress-wapper
    #progress.mdl-progress.mdl-js-progress.mdl-progress__indeterminate

  #editor-wapper
    #editor.mdl-shadow--2dp
    #preview.mdl-shadow--2dp

  script(type="text/javascript").
    initEditor();
