script(src='/javascripts/marked.js', type='text/javascript')
script(src='/javascripts/ace/ace.js', type='text/javascript')
script(src='/javascripts/ace/theme-twilight.js', type='text/javascript')

#sub-menu
  ul.collection
    li.collection-item
      div
        .row
          .input-field.col.s12
            input#title.validate(type='text')
            label(for='password') Title
    li.collection-item
      div
        | Date
        a.secondary-content(href='javascript:showPreview();')
        input.datepicker(type='date')
    li.collection-item
      div
        | Time
        a.secondary-content(href='javascript:showPreview();')
        input.datepicker(type='date')
    li.collection-item
      div
        | Categories
        a.secondary-content(href='javascript:showPreview();')
          i.material-icons playlist_add
    li.collection-item
      div
        | Tags
        a.secondary-content(href='javascript:showPreview();')
          i.material-icons playlist_add
    li.collection-item
      div
        | Preview
        a.secondary-content(href='javascript:showPreview();')
          i.material-icons visibility
    li.collection-item
      div
        | Publish
        a.secondary-content(href='#!')
          i.material-icons send
    li.collection-item
      div
        | Save
        a.secondary-content(href='#!')
          i.material-icons grade

#editor-wapper
  #editor
  script(type='text/javascript').
    initEditor()
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
    });

  #preview
