header.mdl-shadow--6dp
  button.mdl-button.mdl-js-button.mdl-button--icon.menu-btn(id='menu-btn', v-on:click="showOrHide")
    i.material-icons arrow_back
  ul.right-title-list
    li
      a.mdl-button.mdl-js-button.mdl-button--icon.right-title(id='menu-btn', v-on:click="publish")
        i.material-icons edit
    li
      a.mdl-button.mdl-js-button.mdl-button--icon.right-title(id='menu-btn', v-on:click="publish")
        i.material-icons send
#progress-wapper
  #progress.mdl-progress.mdl-js-progress.mdl-progress__indeterminate


#editor-wapper.markdown-body
  #editor(v-model="input")
  //- #preview(v-html="input | marked")

script(type="text/javascript").
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/tomorrow");
  editor.getSession().setUseWrapMode(true);
  editor.on('change', function(e) {
  	$('#preview').html(marked(editor.getValue()));
  });
