extends layout

block content
  header
    button.mdl-button.mdl-js-button.mdl-button--icon.menu-btn
      i.material-icons menu
    ul.left-title-list
      li
        a.left-title Posts
    ul.right-title-list
      li
        a.right-title(onclick='exit();')
          i.material-icons exit_to_app
  #progress-wapper
    #progress.progress.red.lighten-3
      .indeterminate.lime.accent-3
  #main
    include posts.jade
