extends layout

block content
  header.mdl-shadow--6dp
    button.mdl-button.mdl-js-button.mdl-button--icon.menu-btn(id='menu-btn', title='menu')
      i.material-icons menu
    .left-title
      a.mdl-button.mdl-js-button.mdl-js-ripple-effect(id='workspace', title='workspace') posts
    ul
      li.right-title
        a.mdl-button.mdl-js-button.mdl-button--icon(onclick='exit();', title='exit')
          i.material-icons exit_to_app
      li.right-title
        a.mdl-button.mdl-js-button.mdl-button--icon(onclick='deploy();', title='deploy')
          i.material-icons backup
      li.right-title
        a.mdl-button.mdl-js-button.mdl-button--icon(onclick='generate();', title='generate')
          i.material-icons build
  #progress.mdl-progress.mdl-js-progress.mdl-progress__indeterminate
  #left
    ul.left-menu
      li.left-menu-row.active(onclick='posts()')
        i.material-icons(style='color:#00BCD4;') description
        a.left-title Posts
      li.left-menu-row(onclick='drafts()')
        i.material-icons(style='color:#FF9800;') drafts
        a.left-title Drafts
      li.left-menu-row(onclick='trash()')
        i.material-icons(style='color:#795548;') delete
        a.left-title Trash
      li.left-menu-row(onclick='help()')
        i.material-icons(style='color:#CDDC39;') help
        a.left-title Help
        i.right.material-icons(style='color:#ECEFF1;') open_in_new
  #main
    include posts.pug
  script.
    afterIndexLoad()
