extends layout

block content
  header.mdl-shadow--2dp
    button.mdl-button.mdl-js-button.mdl-button--icon.menu-btn
      i.material-icons menu
    a.first-title Edit
    a.right-title(href='/logout') Exit
  #progress-wapper
    #progress.progress.red.lighten-3
      .indeterminate.lime.accent-3
  #content
    include posts.jade
