extends layout

block content
  nav
    .nav-wrapper
      a#logo.brand-logo(href='#') Nihility
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a(href='sass.html') Sass
        li
          a(href='badges.html') Components
        li
          a(href='collapsible.html') JavaScript
