extends layout

block content
  header.mdl-shadow--6dp
    button.mdl-button.mdl-js-button.mdl-button--icon.menu-btn(id='menu-btn', v-on:click="showOrHide")
      i.material-icons menu
    ul.left-title-list
      li
        a.left-title Posts
    ul.right-title-list
      li
        a.right-title(onclick='exit();')
          i.material-icons exit_to_app
  #progress-wapper
    #progress.mdl-progress.mdl-js-progress.mdl-progress__indeterminate
  #left(ransition="fade")
    ul.left-menu
      li.left-menu-row.active
        i.material-icons(style='color:#00BCD4;') description
        a.left-title Posts
      li.left-menu-row
        i.material-icons(style='color:#FF9800;') folder
        a.left-title Drafts
      li.left-menu-row
        i.material-icons(style='color:#795548;') delete
        a.left-title Trash
      li.left-menu-row
        i.material-icons(style='color:#673AB7;') settings
        a.left-title Settings
  #main
    include posts.jade
  script.
    var menuBtn = new Vue({
      el: '#menu-btn',
      data: {
        isShowed: true
      },
      methods: {
        showOrHide: function() {
          if (this.isShowed) {
            $('#left').hide();
            this.isShowed = false;
          } else {
            $('#left').show();
            this.isShowed = true;
          }
        }
      }
    });
