doctype html
html
  head
    title= 'Hexo Editor'
    meta(name='viewport', content='user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, width=device-width')
    link(rel='stylesheet', href='/img/favicon.ico?v1')
    link(rel='stylesheet', href='/stylesheets/material.min.css')
    //- link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    link(rel='stylesheet' , href='/stylesheets/icon.css')
    link(rel='stylesheet' , href='/stylesheets/github-markdown.css')
    link(rel='stylesheet', href='/stylesheets/style.css?v=20150629')
    script(type='text/javascript', src='/javascripts/jquery-1.11.3.min.js')
    script(src='/javascripts/material.min.js')
    //- script(src='/javascripts/materialize.min.js')
    script(src='/javascripts/vue.js')
    //- script(src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
  body
    block content
    script(src='/javascripts/func.js?v=20150629')
    script(src='/javascripts/app.js?v=20160303')
