doctype html
html
  head
    title= 'Nihility'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css')
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    script(type='text/javascript', src='/javascripts/jquery-1.11.3.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js')
  body
    block content
