doctype html
html
  head
    title= 'Hexo Editor'
    link(rel='stylesheet', href='/stylesheets/style.css?v=20150629')
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    link(rel='stylesheet' , href='/stylesheets/icon.css')
    script(type='text/javascript', src='/javascripts/jquery-1.11.3.min.js')
    script(src='/javascripts/materialize.min.js')
    script(src='/javascripts/func.js?v=20150629')
  body
    block content
