doctype html
html
  head
    title= 'Hexo Editor'
    meta(name='viewport', content='user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, width=device-width')
    link(rel='stylesheet', href='/img/favicon.ico?v1')
    link(rel='stylesheet', href='/stylesheets/material.min.css')
    link(rel='stylesheet' , href='/stylesheets/icon.css')
    link(rel='stylesheet' , href='/stylesheets/github-markdown.css')
    link(rel='stylesheet', href='/stylesheets/style.css?v=20150629')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/highlight.js/9.2.0/styles/default.min.css')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    script(type='text/javascript', src='/javascripts/jquery-1.11.3.min.js')
    script(src='/javascripts/material.min.js')
    script(src='/javascripts/marked.js', type='text/javascript')
    script(src='/javascripts/date-format.js', type='text/javascript')
    script(src='/javascripts/ace/ace.js', type='text/javascript')
    script(src='/javascripts/ace/theme-twilight.js', type='text/javascript')
    script(src='/javascripts/marked.js', type='text/javascript')
    script(src='/javascripts/ace/ace.js', type='text/javascript')
    script(src='/javascripts/ace/theme-twilight.js', type='text/javascript')
    script(src='//cdn.jsdelivr.net/highlight.js/9.2.0/highlight.min.js')
    script(src='/javascripts/text-sync.js')
    script(src='/javascripts/app.js?v=20160303')
    script(src='/javascripts/socket.io.js')
  body
    #content
      block content
