doctype html
html
  head
    title= 'Hexo Editor'
    meta(name='theme-color',content='#673AB7')
    meta(name='viewport', content='user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, width=device-width')
    link(rel='shortcut icon', href='/img/favicon.ico')
    link(rel='stylesheet', href='/dist/style-ccbe872a7b.css')
    link(rel='stylesheet', href='/dist/libs-f51ba82733.css')
    script(src='/dist/libs-92ff0e3efc.js')
    script(src='/dist/app-7cf9dc62cb.js')
    link(href="https://cdn.bootcss.com/highlight.js/8.5/styles/tomorrow.min.css",rel="stylesheet")
    script(src="https://cdn.bootcss.com/highlight.js/8.0/highlight.min.js")
  body
    #shadow-mask
    #content
      block content
    #snackbar.mdl-js-snackbar.mdl-snackbar
      .mdl-snackbar__text
      button.mdl-snackbar__action(type='button')
