doctype html
html
  head
    title= 'Hexo Editor'
    meta(name='viewport', content='user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, width=device-width')
    link(rel='shortcut icon', href='/img/favicon.ico')
    link(rel='stylesheet', href='/dist/style-a09b7d2baf.css')
    link(rel='stylesheet', href='/dist/libs-a6c4741bde.css')
    script(src='/dist/libs-db0fd14973.js')
    script(src='/dist/app-c0c4b7eebf.js')
  body
    #shadow-mask
    #content
      block content
    #snackbar.mdl-js-snackbar.mdl-snackbar
      .mdl-snackbar__text
      button.mdl-snackbar__action(type='button')
