extends layout

block content
  #login-form-wapper
    #login-form.mdl-shadow--2dp
      .row
        h5 Welcome~ #{emoji}
      .row
      form(action='login', method='POST')
        .row.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input.mdl-textfield__input(id='username', type='text', name='username')
          label.mdl-textfield__label(for='username') User Name
        .row.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input.mdl-textfield__input(id='password', type='password', name='password')
          label.mdl-textfield__label(for='password') Password
        .row
          button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(type='submit', style='background-color:#8BC34A;color:white;')   
            | LOGIN
  script(type="text/javascript").
    afterLoginLoad();
