extends layout

block content
  header.mdl-shadow--6dp
    button.mdl-button.mdl-js-button.mdl-button--icon.menu-btn
      i.material-icons menu
    ul.left-title-list
      li
        a.left-title Login
  #login-form-wapper
    #login-form.mdl-shadow--2dp
      .row
        h5 Welcome~ #{emoji}
      .row
      form(action='login', method='POST')
        .row.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input.mdl-textfield__input(id='username', type='text', name='username')
          label.mdl-textfield__label(for='username') User Name
        .row.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input.mdl-textfield__input(id='password', type='password', name='password')
          label.mdl-textfield__label(for='password') Password
        .row
          button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(type='submit', style='color:white;')
            | LOGIN
