extends layout

block content
  nav
    .nav-wrapper
      a#logo.brand-logo(href='#') Nihility
      ul#slide-out.side-nav
        li
          a(href='#!') First Sidebar Link
        li
          a(href='#!') Second Sidebar Link
      a.button-collapse(href='#', data-activates='slide-out')
        i.mdi-navigation-menu
  #login_form.row
    form.col.s12
      .row
        .input-field.col.s6
          input#user_name.validate(type='text')
          label(for='first_name') User Name
      .row
        .input-field.col.s6
          input#password.validate(type='password')
          label(for='password') Password
      
      button.btn.waves-effect.waves-light(type='submit')
        | Submit
        i.material-icons.right send
