script(src='/javascripts/marked.js', type='text/javascript')
script(src='/javascripts/dateFormat.js', type='text/javascript')
script(src='/javascripts/ace/ace.js', type='text/javascript')
script(src='/javascripts/ace/theme-twilight.js', type='text/javascript')
script(src='/javascripts/jquery-ui.min.js', type='text/javascript', charset='utf-8')
script(src='/javascripts/tag-it.min.js', type='text/javascript', charset='utf-8')
link(rel='stylesheet', type='text/css', href='/stylesheets/jquery-ui.css')
link(href='/stylesheets/jquery.tagit.css', rel='stylesheet', type='text/css')
link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')

#articles-wapper
  #articles-view
    ul.collapsible.popout(data-collapsible='accordion')
      each article, index in items
        li(id='article-#{index}')
          .collapsible-header
            i.material-icons library_books
            | #{article.title}
          .collapsible-body
            | #{article.content}
              
#article-add
  a.btn-floating.btn-large.waves-effect.waves-light.red(href='javascript:newPost();')
    i.material-icons add
  
script.
  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false
    });
  });
