@media only screen and (max-device-width: 768px) {
  #editor-meta-data {
    display none
  }
  #editor-wapper {
    width 100% !important
    #preview {
      margin-left 0 !important
      width 98% !important
      height 99% !important
    }
    #editor {
      margin-left 0 !important
      width 100% !important
    }
  }
  .editor-left-title {
    display none !important
  }
  .editor-format {
    display none !important
  }
}

@media only screen and (max-device-width: 480px) {
  #editor-meta-data {
    display none
  }
  #editor-wapper {
    width 100% !important
    #preview {
      margin-left 0 !important
      width 98% !important
      height 99% !important
    }
    #editor {
      margin-left 0 !important
      width 100% !important
    }
  }
  .editor-left-title {
    display none !important
  }
  .editor-format {
    display none !important
  }
  #title {
    margin-right 8px !important
  }
}

@media only screen and (max-device-width: 320px) {
  #title {
    width 120px !important
  }
}

.editor-left-title
  position absolute
  margin-left 4em
  height 100%
  .mdl-button
    padding 8px
    color white
    font-size 1.3em

#editor-meta-data
  position relative
  top 4em
  width 17%
  margin-left 1%
  z-index 10
  .meta-data
    float left

#editor-wapper
  position relative
  top 4em
  margin-left 0
  margin-right 0
  width 100%
  height calc(100% - 3.6em)
  #preview
    display none
    padding 1%
    margin-left 19.1%
    width 59.8%
    height 96%
    overflow auto
    font-size 1.2em
    line-height 1.4em
    background rgb(255,255,255)
  #editor
    margin-left 19.1%
    width 61.8%
    height 100%
    overflow auto
    font-size 1em
    line-height 1.4em
    background rgb(255,255,255)

#title
  margin 8px 40px 8px 8px
  padding 3px
  width 200px
  height 2em
  border none
  border-radius 2px

.hidden
  display none

#articles-wapper
  width 72%
  margin-left auto
  margin-right auto
  .collapsible-body
    background-color white
    padding 10px

.collapsible-body
  p
    margin 0
    padding 0.5em 0 0.5em 0

.article-item
  width 80%
  height 240px

.article-date
  margin-left 20px

#article-add
  position fixed
  bottom 20px
  right 32px

.secondary-content
  color grey

.collapsible
  .collapsible-header
    background-color white
    padding 10px
    border-top 1px solid #E0E0E0
    cursor pointer
    .fixed
      position fixed
      top 0px
      z-index 999
    i
      float left
      margin-right 16px
  .collapsible-body
    display none
    border-top 1px solid #E0E0E0

.collapsible-header-right
  position relative
  float right
  margin-left 10px
  margin-top -23px
  button
    position inherit
    float right
    margin-top -5px
  ul
    i
      margin-top 12px

.markdown-body
  margin 0 1em 0 1em
  blockquote
    quotes none
  blockquote:before, blockquote:after, q:before, q:after
    content ""
    content none
  hr
    height 1px !important
  ul
    list-style disc
    ul
      list-style circle

.title-wrapper
  margin-left 1em
  color white

#image-upload-dialog
  background-color white
  position fixed
  display none
  margin 0 auto
  z-index 99
  width 40%
  height 400px
  top 100px
  left 0
  right 0
  -webkit-animation-name fadeIn
  -webkit-animation-duration 0.2s
  animation-name fadeIn
  animation-duration 0.2s
  a
    cursor pointer
  .close
    float right
    color #616161
  .file_input_div
    margin auto
    margin-top 80px
    width 250px
    height 40px
    .file_input
      float left
    #file_input_text_div
      width 200px
      margin-left 5px
    .none
      display none
  #upload-image-btn
    margin-top 40px
    margin-left 25%

@-webkit-keyframes fadeIn {
  from { top: -400px; }
  to   { top: 100px; }
}

@keyframes fadeIn {
  from { top: -400px; }
  to   { top: 100px; }
}
