html
  height 100%

body
  margin 0
  width 100%
  height 100%
  font-family Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
  background-color #eceff1

@media only screen and (max-device-width: 768px) {
  #left {
    margin-top 3.2em !important
    width 48% !important
    height 96% !important
    background-color white !important
  }
  .left-menu {
    .active {
      background-color #F5F5F5 !important
    }
  }
  .left-menu {
    margin-top 0.6em !important
  }
  #articles-wapper {
    width 100% !important
    margin 0 !important
  }
}

@media only screen and (max-device-width: 480px) {
  body {
    -webkit-overflow-scrolling touch
  }
  #login-form {
    width 91% !important
  }
  #article-add {
    right 20px !important
  }
  #articles-wapper {
    width 100% !important
    margin 0 !important
  }
  .article-date {
    display none
  }
  .article-title {
    width 320px !important
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
  }
}

@media only screen and (max-device-width: 320px) {
  .article-title {
    width 180px !important
  }
}

@font-face
  font-family 'Material Icons'
  font-style normal
  font-weight 400
  src url(/font/MaterialIcons-Regular.eot)
  src local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/font/MaterialIcons-Regular.woff2) format('woff2'),
       url(/font/MaterialIcons-Regular.woff) format('woff'),
       url(/font/MaterialIcons-Regular.ttf) format('truetype')

.material-icons
  font-family 'Material Icons'
  font-weight normal
  font-style normal
  font-size 24px
  width 24px
  display inline-block
  line-height 1
  text-transform none
  letter-spacing normal
  word-wrap normal
  white-space nowrap
  direction ltr
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility
  -moz-osx-font-smoothing grayscale
  font-feature-settings 'liga'

ul
  margin 0
  padding 0
  list-style-type none

li
  margin 0
  padding 0
  .red
    color #D50000
  .yellow
    color #FF9800
  .green
    color #AEEA00

header
  position fixed
  margin 0 auto
  top 0
  width 100%
  height 3.6em
  background-color #673AB7
  z-index 97
  display inline-block
  vertical-align text-bottom
  i
    color white
  ul
    height 100%
    margin-left 3em
    li
      float right
      height 100%
  .menu-btn
    position absolute
    top 0
    bottom 0
    margin auto
    margin-left 0.8em
  .left-title
    position absolute
    margin-left 4em
    height 100%
    .mdl-button
      padding 8px
      color white
      font-size 1.3em
  #done
    padding 12px
    font-size 1.3em
    i
      color #AEEA00
  .right-title
    padding 5px
    .mdl-button
      padding 4px
      color white
      user-select none
      -moz-user-select none
      -khtml-user-select none
      -webkit-user-select none
      -o-user-select none

  #loading
    display none
    padding 11px

#logo
  background url(/img/logo.svg)
  width 60px
  height 60px
  background-size 60px 60px
  display inline-block

#logo-title
  margin-left 0px

#login-form-wapper
  margin 0
  height 92%

#login-form
  position relative
  top 16%
  margin 0 auto
  padding 0.5em
  width 30em
  background rgb(255,255,255)
  color #333
  text-align center

.row
  input
    height 2em
  button
    margin-bottom 1.5em

#content
  height 99%

#sub-menu
  position relative
  margin-top 0px
  width 15%
  float left
  .item
    cursor pointer

#progress
  visibility hidden
  position relative
  margin-top 0em
  z-index 98
  width 100%
  .progressbar
    background-color #E040FB
  .bufferbar
    background-image linear-gradient(to right, rgba(255,255,255, 0.7), rgba(255,255,255, 0.7)), linear-gradient(to right, rgb(234,128,252), rgb(234,128,252))
  .auxbar
    background-image: linear-gradient(to right, rgba(255,255,255, 0.9), rgba(255,255,255, 0.9)), linear-gradient(to right, rgb(234,128,252), rgb(234,128,252))

#main
  position relative
  margin-top 3.7em

#left
  position fixed
  margin-top 3.7em
  width 14%
  height 90%
  left 0
  overflow-y auto
  z-index 97
  .left-menu
    width 100%
    margin 0
    .active
      background-color #E0E0E0
      a
        margin-left 10px
        color #616161
        font-weight bold
  .left-menu-row
    cursor pointer
    height 24px
    margin 0 10px 1px 10px
    padding 12px
    border-radius 5px
    i
      float left
    a
      margin-left 10px
      color #616161
    .right
      float right
    &:hover
      background-color #E0E0E0
      .right
        color #9E9E9E !important

#shadow-mask
  position fixed
  display none
  opacity 0.4
  background-color black
  z-index 98
  width 100%
  height 100%
