body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eceff1;
}

#logo {
  margin-left: 20px;
}

#login_form {
  position: relative;
  top: 16%;
  margin: 0 auto;
  margin-top: 8%;
  padding: 20px;
  width: 480px;
  background: rgb(255,255,255);
  color: #333;
  text-align: center;
  box-shadow: 0px 6px 8px rgba(0,0,0,0.5);
}

.col {
text-align: left;
}
